{% load el_pagination_tags %}
<div class="stuff">
  <h2>{{category}} (page {{page.current}})</h2>
  <div class=sortby>
    <p>Sorted By:</p>
    <form action="/sortby" method='post' id="sortby">
      {% csrf_token %}
      <select name="sorted" id=sorted>
          <option value=""></option>
          <option value="price">Price</option>
          <option value="popularity">Most Popular</option>
      </select>
    </form>
  </div>

  <div class="catitems endless_page_template">
    {% for item in items %}
    <div class="images">
    <a href="/show/{{item.id}}"><img src="static/ecommerce/img/{{item.image}}" alt=""></a>
    <p>{{item.name}} <span>Price ${{item.price}}</span><p>
    </div>
    {% endfor %}
  </div>
</div>
