<form action="product_search" method='post'>
  <input type='text'>
</form>

<form action="add_product" method-"post">
  <submit button></submit>
</form>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>ID</th>
      <th>Name</th>
      <th>Inventory Count</th>
      <th>Quantity sold</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>stuff</th>
      <th><form action="edit">

      </form>
      <form action="delete">

      </form></th>
    </tr>
  </tbody>
</table>
